header {
  padding: 2rem 1rem;
  background: rgb(44, 27, 56);
  border-radius: 10px;

  .personal_user_container {
    text-align: center;

    span {
      font-size: 50px;
      font-weight: 650;
    }
  }
}
